<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-628.png?sfvrsn=bf64b1ee_3" alt="" height="200px">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular.</a></h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, nisi maiores? Maiores provident repellendus minus commodi vel reprehenderit aperiam pariatur, mollitia voluptatum qui ab eligendi doloremque eaque, enim non fugit.</p>
    </div>
</div>
