.container__smal-card {
    width: 500px;
}

.container__smal-card-content {
    display: flex;
    flex-direction: row;
}

.small-card__photo > img {
    height: 100px;
    min-width: 200px;
    margin-right: 20px;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card__title > h1 {
    font-size: 14px;
}

.small-card__title > h1 > a{
    color: white;
}

.container__small-card-separator {
   margin-top: 10px;
   margin-bottom: 10px;
}