<app-menu-title></app-menu-title>
<div class="conteiner__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-628.png?sfvrsn=bf64b1ee_3"
            cardTitle="Saiu a nova versão do Angular."
            cardDescription="Conheça todas as novas funcionalidades da nova versão do Angular."
        > </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            cardImg="https://miro.medium.com/v2/resize:fit:900/1*OrjCKmou1jT4It5so5gvOA.jpeg"
            cardTitle="Vue Js vs Angular. Qual a melhor framework para desenvolvimento front-end? Veja as diferanças entre as duas."
            id="1"
        > </app-small-card>
        <app-small-card
            cardImg="https://media.licdn.com/dms/image/D4D12AQFC_rCZDd12Lw/article-cover_image-shrink_600_2000/0/1653742400027?e=2147483647&v=beta&t=6LfWwyspRR8gJDdeVX8Z0BShCQE3xve0BUOwi3z8Tso"
            cardTitle="Aprenda React Js, a framework reativa do facebook."
            id="2"
        > </app-small-card>
    </div>
</div>